* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

nav{
    
    padding: 0 1rem ;
}

header {
    background-color: #B4D0E7;
    margin-bottom: 8rem;
}

header .container-big{
    position: relative;
    top: 70px
}

footer{
    background-color: black;
    padding-bottom: 5rem;
}
header h1{
    padding-top: 1rem;
    padding-bottom: 3rem;
}
header p{
    
    padding: 2rem 0;
}

header i {
    font-size: 3.5rem;
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 2.5rem;
}

h4{
    padding: 1rem 0;
}
p{
    font-size: 1rem;
}


.container-big{
    width: 1100px;
    margin: 0 auto;
}
.container-small{
    width: 920px;
    margin: 0 auto;
}

.container-bigger{
    background-color: #B4D0E7;
    padding-bottom: 6rem;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 11;
    background-color: white;
    padding: 0 1rem;
}

.links-logo{
    display: flex;
    align-items: center;
}

.links-btn{
    display: flex;
    align-items: center;
}

.links-logo ul{
    padding: .3rem .1rem;
    display: flex;
    list-style: none;
    
}

.links-container ul li {
    display: inline-block;
}

.links-btn ul{
    padding: .3rem .1rem;
    display: flex;
    list-style: none;
    
    
}
.links-container a {
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

button{
    color: white;
    border: none;
    padding: .8rem;
}

.btn-big{
    padding: 1rem 2.5rem;
}

.btn-mid{
    padding: 0.5rem 1rem;
}
.btn-small{
    padding: 0.5rem;
}
.btn-blue{
    background-color: #0161FF;

}
.btn-white{
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
}
.btn-black{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.title-subsection{
    display: flex;
}

.first-section-text{
    flex-basis: 30%;
}

body i{padding-right: 0.5rem;}
img{
    display: block;
    width: 100%;
    height: auto;
}
.first-img{
    flex-basis: 70%;
}

.checkmark {
    
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.container-check {
    display: inline-block;
    position: relative;
    padding: 0 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checks-container{
    padding: 3rem 0;
}

.colonne{
    display: flex;
    column-gap: 2.3rem;
    padding-bottom: 2.3rem;
}

.col1{
    border: 1px solid darkgray;
    flex-basis: 33%;
}
.col2{
    border: 1px solid darkgray;
    flex-basis: 33%;
}
.col3{
    border: 1px solid darkgray;
    flex-basis: 33%;
}

.title-col {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid darkgray;
}
.inner-col{
    padding: 1rem 1.5rem;
}
.gray{
    color: darkgray;
}

.inner-col h4{
    padding-bottom: 0.4rem;
}

ul{
    padding: 2rem 0;
    
    list-style: none;
}

li{
    padding: 0.7rem 0;
}
.icons{
    display: flex;
}

.space-p{
    padding: 2rem 0;
}

.hr-type{
    height: 1px;
    width: 20%;
    background-color: darkgray;
}
.sub-title{
    padding-top:  2rem;
}

.icn-blue{
    color: #0161FF;
}
.inner-blw{
    display: flex;
}
.below-columns{
    border: 1px solid darkgray;
}

.col1-blw{
    padding: 1.5rem 1.5rem;
    flex-basis: 70%;
}
.col2-blw{
    padding: 1.5rem 0.5rem;
    flex-basis: 30%;
}

.col1-blw p{
    padding: 2.5rem 0;
    
}
.contact-drop{
    display: flex;
    padding-bottom: 5rem;
}
.contact-drop h3{
    padding: 2rem 0;
}
.col2-blw p{
    padding-bottom: 2rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 2.5rem;
    padding-bottom: 8rem;
}

.card{
    flex-basis: 30%;
    row-gap: 0.5rem;

}

.rows{
    padding-bottom: 6rem;
}

.container-small h2{
    padding-bottom: 2rem;
}

.card h3 {
    padding: 1rem 0;
}

.blank-space{
display: flex;
}

.blank-space .col1-blw{
    padding: 0;
}

.blank-space p {
    padding-top:  0;
    padding-bottom: 5rem;
}

.img-container{
    display: flex;
    
}
.col1-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.3%;
    aspect-ratio: 1 / 1;
}
.col2-container{
    flex-basis: 33.3%;
    background-color: #F5F5F5;
    padding: 0 2rem  ;
    aspect-ratio: 1 / 1;
    overflow: auto;

}
.col3-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.3%;
    aspect-ratio: 1 / 1;
}
.col2-container img{
    width: 100%;
    height: auto;
    padding-top: 3rem;
    
}
.img-container .la-mia-immagine img {
    display: block;
    filter: invert(1);
    object-fit: contain;
    aspect-ratio: 1 / 1;
    padding: 4rem;
}

.logo-container{
    display: flex;
    padding-bottom: 3rem;

}
.img1{
    background-color: #A2D39B;
    width: 50%;
    aspect-ratio: 1 / 1;
    border: 0.5rem solid;
    border-color: #cae0c3ad
}
.img2{
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: #60092B;
}
.img3{
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: #0093CE;
}
.img4{
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: #FF1B1C;
}

.img5{
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: #D50120;
}
.img6{
    width: 50%;
    aspect-ratio: 1 / 1;
    
}
.img7{
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: #0D2481;
}
.img8{
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: #FFD830;
}

.inner-col1{
    flex-basis: 50%;
}

.inner-col2{
    flex-basis: 50%;
}

.col2-container p{
    padding-top: 3rem; 
}

.sub-box h2{
    padding: 0;
    color: #60092B;
}
.sub-box{
    display: flex;
    column-gap: 15rem;
}
.column1{
    flex-basis: 70%;
}
.column2{
    flex-basis: 30%;
    
}

.faq-box .hr-type{
    height: 1px;
    width: 100%;
    background-color: darkgray;
}

.faq-box h2{
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.quest-container{
    position: relative;
}
.faq-box p{
    font-weight: bold;
    padding: 2.5rem 0;
}
.faq-box i{
    position: absolute;
    right: 20px;
}
.faq-box{
    padding-bottom: 6rem;
}

.row{
    display: flex;
}

.col {
    padding: 20px;
    flex-grow: 1;   
}

footer a{
    text-decoration: none;
    color: white;
}
footer li {
    padding: 0.5rem;
}

.hr-style-footer{
    
    height: 1px;
    width: 12%;
    background-color: white;
    margin-bottom: 4rem;
    margin-top: 5rem;
}

.wht{color: white;}

.ita{
    margin-left: 25px;
    padding-bottom: 4rem;
}

.big-hr{
    
    height: 1px;
    width: 100%;
    background-color: white;
    
}